# Уникальные для Go
/bin/
/pkg/
/vendor/

# Исключить основные временные файлы
*.log
*.out
*.tmp

# Исключить файлы конфигурации ОС
*.DS_Store
*.vscode/

# Исключить файлы IDE
.idea/
*.iml

# Исключить зависимости Go модулей
go.sum

# Исключить тестовые выходные данные
*.test